<h1>Palabras</h1>

<table>
  <thead>
    <tr>
      <th>Palabra</th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= link_to  word.name , word %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Escribe tu propia definición', new_word_path %>
